* {
    font-family: 'Montserrat', sans-serif;
}

#map {
    height: 100vh;
    width: 100%;
    border-radius: 0.3rem;
}

.h100 {
    height: 100vh;
}

:root {
    --purple: #BE319A;
    --darkpurple: #9a287c;
}

.price-style {
    background-color: var(--purple);
    color: white;
}

.border-pur {
    border: 2px solid var(--darkpurple);
}

.btn-search {
    background-color: var(--purple);
    color: white;
}